APP_NAME="Knowlage_System_Rag"
APP_VERSION="0.1"
OPENAI_KEY = ""
LLAMA_PARSER_API_KEY = ""

FILE_ALLOWED_TYPES= ["text/plain","application/pdf"]
FILE_MAX_SIZE = 10 
FILE_CHUNCK_SIZE = 512000

MONGODB_URL = "mongo://localhost:27017"
MONGODB_NAME = "Se7tekDB"


# ====================== LLM env ===================== 

GENERATION_BACKEND = "OPENAI"
EMBEDING_BACKEND = "BGEM3"

OPENAI_KEY = ""
OPENAI_URL = "https://openrouter.ai/api/v1"

GENERATION_MODEL_ID = "qwen/qwen3-next-80b-a3b-instruct:free"
EMBEDING_MODEL_ID = "BGEM3"

INPUT_DEFAULT_MAX_CHARARACTERS = 1024
GENERATION_DEFAULT_MAX_TOKENS = 200
GENERATION_DEFAULT_TEMPERATURE = 0.1
EMBEDING_MODE_SIZE = 1024

# ====================== Vector env ===================== 

VECTOR_DB_BACKEND = "Qdrant"
VECTOR_DB_PATH = "qdrant_db"
VECTOR_DB_DIStANCE = "cosine"

# ====================== Hugging ========================
HF_TOKEN= ""

# ====================== Locale Config ===================

DEFAULT_LANGUAGE = "en"